<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="User" value="" />
    <add key="Password" value="" />
    <add key="ServerHost" value="" />
    <add key="WorldDatabase" value="" />
    <add key="CharDatabase" value="" />
    <add key="Port" value="" />
  </appSettings>
</configuration>